table {
  border-collapse: collapse;
  margin: auto;
}
td {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  cursor: pointer;
}
td:hover {
  background-color: #EEE;
}
#winner {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}